<!DOCTYPE html>
<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

	</head>
	<body>
		<div class="topnav">
			<a class="active" href="/user/add">Register</a>
			<a href="/user/login">Login</a>
			<a href="/blogpost/listposts">Blogpost List</a>
			{% if user.role == 1 %}
				<a href="/blogpost/add">Write Blogpost</a>
			{% endif %}
			
		</div>
	    
		<form action="/user/logout" method="post">

			<button type="submit" name="logout" value="logout">Log out</button>
		</form>
		
		{% block body %}{% endblock %}
	</body>

	<footer>
		<p>Copyright 2021</p>

	</footer>
</html>
