<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

	</head>
	<body>
		<div class="topnav">
			<a class="active" href="/?action=user/add">Register</a>
			<a href="/user/login">Login</a>
			<a href="/blogpost/add">Write Blogpost</a>
			<a href="/blogpost/listposts">Blogpost List</a>
		</div>
		<h2>Logout</h2>
		<form action="/user/logout" method="post">

			<button type="submit" name="logout" value="logout">Log out</button>
		</form>
		{% block body %}{% endblock %}
	</body>

	<footer>
		<p>Copyright 2021</p>

	</footer>
</html>
