<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}

	</head>
	<body>
		<div class="topnav">
			<a class="active" href="/?action=user/add">Register</a>
			<a href="/?action=user/login">Login</a>
			<a href="/?action=blogpost/add">Write Blogpost</a>
			<a href="/?action=blogpost/listPosts">Blogpost List</a>
		</div>
		{% block body %}{% endblock %}
	</body>

	<footer>
		<p>Copyright 2021</p>

	</footer>
</html>
