<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>List of blogposts</title>
	</head>
	<body>

		<table>
			<tbody>

				{% for blogpost in blogposts %}
					<tr>
						<td><a href = '?action=blogpost/getPost/{{ blogpost.post_id }}'>{{ blogpost.post_id }}</a></td> 
                        <td>{{ blogpost.title }}</td>
                        <td>{{ blogpost.content }}</td>
                    	
					</tr>
				{% endfor %}

			</tbody>
		</table>

	</body>
</html>
