{% extends 'base.html.twig' %}
{% block body %}
	<table>
		<tbody>

			{% for blogpost in blogposts %}
				<tr>
					<td>
						<a href='/blogpost/getPost/{{ blogpost.post_id }}'>{{ blogpost.title }}</a>
					</td>
				</tr>
				<tr>
					<td>{{ blogpost.creation_date }}</td>
				</tr>
				<tr>
					<td>{{ blogpost.headline }}</td>
				</tr>
			
			{% endfor %}

		</tbody>
	</table>

{% endblock %}
