<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Blogpost</title>
	</head>
	<body>

		<table>
			<tbody>

				
					<tr>
						<td>{{ blogpost.post_id }}</td> 
                        <td>{{ blogpost.title }}</td>
                        <td>{{ blogpost.content }}</td>
                    	
					</tr>
			

			</tbody>
		</table>

	</body>
</html>
