{% extends 'base.html.twig' %}

{% block header %}
	<header class="masthead" style="background-image: url('/assets/img/background.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Créer un Article</h1>

					</div>
				</div>
			</div>
		</div>
	</header>
{% endblock %}
{% block body %}

	<div class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">

					<form method="post" action="" name="blogpost-creation-form">
						<input type="hidden" name="token" value="{{ token }}"/>

						<div class="form-floating">

							<input class="form-control" type="text" id="title" name="title" required/>
							<label for="title">Titre</label>

						</div>

						<div class="form-floating">

							<textarea class="form-control" type="text" id="headline" name="headline" required></textarea>
							<label for="headline">Headline</label>

						</div>

						<div class="form-floating">

							<textarea class="form-control" type="text" id="content" name="content" style="height: 12rem" required></textarea>
							<label for="content">Contenu</label>

						</div>


						<button type="submit" class="btn btn-primary text-uppercase" name="createBlogpost" value="createBlogpost">Créer un Article</button>

					</form>
					{% if message %}
						<div class='alert alert-danger'>
							{{message}}
						</div>
					{% endif %}

				</div>
			</div>
		</div>

	{% endblock %}
