<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Write a comment</title>
	</head>
	<body>

		<h2>Write a comment</h2>
		<form method="post" action="" name="comment-creation-form">
			<input type="hidden" name="user_id" value="32"/>
            <input type="hidden" name="post_id" value="2"/>
			
			<label>Content</label>
			<input type="text" name="content" required/>

			<button type="submit" name="createComment" value="createComment">Create comment</button>
		</form>
		<div>
			{{message}}</div>
	</body>
</html>