{% extends 'base.html.twig' %}
{% block body %}

		<h2>Sign In</h2>
		<form action="" method="post">

			<label>Email</label>
			<input type="text" name="username" required/>


			<label>Password</label>
			<input type="password" name="password" required/>

			<button type="submit" name="login" value="login">Log In</button>
		</form>
<div> {{error}}</div>

{% endblock %}
