{% extends 'base.html.twig' %}
{% block body %}

		<h2>Please enter new password</h2>
		<form action="" method="post">

			<label>Password</label>
			<input type="password" name="password" required/>

			<button type="submit" class="btn btn-primary text-uppercase" name="submit" value="submit">Envoyer</button>
		</form>
<div> {{error}}</div>


{% endblock %}