{% extends 'base.html.twig' %}
{% block body %}

		<h2>Sign Up</h2>
		<form method="post" action="" name="signup-form">

			<label>Username</label>
			<input type="text" name="username" pattern="[a-zA-Z0-9]+"/>

            <label>Email</label>
			<input type="text" name="useremail" required/>

			<label>Password</label>
			<input type="password" name="userpassword" required/>

			<button type="submit" name="register" value="register">Create account</button>
		</form>
<div> {{message}}</div>
	
{% endblock %}
