{% extends 'base.html.twig' %}
{% block body %}

	<table>
		<tbody>


			<tr>

				<td>{{ user.login }}</td>
			</tr>
			<tr>
				<td>{{ user.email }}</td>
			</tr>
			

		</tbody>
	</table>
	

	


{% endblock %}