{% extends 'base.html.twig' %}
{% block body %}

		<table>
			<tbody>

				{% for user in users %}
					<tr>
						<td><a href = '?action=user/view/{{ user.user_id }}'>{{ user.user_id }}</a></td> 
                        <td>{{ user.login }}</td>
                        <td>{{ user.email }}</td>
                    	
					</tr>
				{% endfor %}

			</tbody>
		</table>

		
{% endblock %}

